:root {
  --color-retail: #2079ed;
  --color-business: #022e67;
}

.bg-retail {
  background-color: var(--color-retail);
}

.bg-business {
  background-color: var(--color-business);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2079ed;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip i {
  font-size: 16px;
  color: #2079ed;
  margin-left: 5px;
}
.help-banner {
  background-color: #e3f2fd;
  border: 1px solid #2079ed;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1.5rem;
}
.help-banner-mobile {
  font-size: 0.675rem;
  background-color: #e3f2fd;
  border: 1px solid #2079ed;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1.5rem;
}
.card {
  background-color: #fff;
  width: 100%; /*max-width: 600px;*/
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}
label {
  font-size: 0.675rem;
  font-weight: bold;
}
.label {
  font-size: 0.675rem;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 5px;
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.fw {
  width: 100%;
}
.hw {
  width: 50%;
}
.avatar-container {
  display: flex;
  align-items: center;
}

.brand {
  width: 24px;
  height: 24px;
}
.qrcode {
  width: 64px;
  height: 64px;
}
input, select, textarea {
  font-size: 0.875rem;
}
button {
  background-color: #2079ed;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
button:hover {
  background-color: #1a5bb8;
}
.email-preview-modal,
.confirmation-message,
.error-handling,
.additional-options {
  margin-bottom: 1.5rem;
}
.link-button {
  background: none;
  color: #2079ed;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
.link-button:hover {
  color: #1a5bb8;
  background-color: #f0f0f0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
/*.modal-content { background-color: #fff; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 600px; border-radius: 8px; }*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.code {
  font-size: 1.275rem;
  font-weight: bold;
}
select option::before {
  content: "\2714 "; /* Unicode for checkmark */
  color: green; /* Color of the checkmark */
}
.disabled-button {
  background-color: rgba(243, 244, 246);
  color: grey;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.disabled-button:hover {
  background-color: rgba(243, 244, 246);
  color: grey;
}
.rob {
  background-color: #022e67;
}
.july {
  background-color: rgba(19, 94, 226, 1);
}

.localStore {
  background-color: slategrey;
}
.phone-card {
  width: 375px; /* Width of a typical mobile phone screen */
  height: 667px; /* Height of a typical mobile phone screen */
  border: 16px solid #333; /* Outer frame */
  border-radius: 36px; /* Rounded corners */
  padding: 2px; /* Inner padding */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  /*background-color: black;*/ /* Background color */
  position: relative; /* Relative positioning for inner content */
}

.phone-screen {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc; /* Inner border */
  border-radius: 24px; /* Inner rounded corners */
  overflow-y: hidden; /* Allow vertical overflow */
  background-color: #14141a; /* Screen background color */
  position: relative; /* Relative positioning for inner content */
}

.overflow-content {
  /*background-color: #14141A;*/
  width: 100%; /* Full width */
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; /* Absolute positioning for overflow content */
  top: 70px; /* Position at the top */
  bottom: 50px; /* Leave space for the bottom menu */
  overflow-y: auto; /* Allow vertical scrolling */
}
/* WebKit-based browsers */
.overflow-content::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}
.overflow-content::-webkit-scrollbar-track {
  background: #fff; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}
.overflow-content::-webkit-scrollbar-thumb {
  background: #fff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.overflow-content::-webkit-scrollbar-thumb:hover {
  background: #fff; /* Color of the scrollbar thumb on hover */
}
/* Firefox */
.overflow-content {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
}

.bottom-menu {
  width: 100%;
  height: 50px; /* Height of the bottom menu */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}
.top-stripe {
  background-color: #fff;
  width: 100%;
  height: 50px; /* Height of the bottom menu */
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.page-header {
  background-color: #e48721;
}
