<div
    class="flex justify-center items-center h-full w-full"
    :style="{ backgroundImage: stepBackdrop, backgroundSize: 'cover', backgroundPosition: 'center' }"
>
    <div
        class="w-full h-5/6 max-w-sm bg-gray-900 rounded-3xl overflow-hidden shadow-2xl border-4 border-gray-800 relative bg-cover bg-center"
    >
        <!-- Notch -->
        <div class="absolute top-0 w-full h-8 flex justify-center z-20">
            <div class="w-32 h-6 bg-gray-800 rounded-b-2xl"></div>
        </div>

        <!-- Phone Header -->
        <div
            class="bg-white top-0 h-8 px-6 flex justify-between items-end border-b"
        >
            <span class="text-xs font-bold">9:41</span>
            <div class="flex gap-1">
                <i class="fas fa-signal text-[10px]"></i>
                <i class="fas fa-wifi text-[10px]"></i>
                <i class="fas fa-battery-full text-[10px]"></i>
            </div>
        </div>

        <!-- Screen Content Area -->
        <div
            class="bg-gray-100 h-full overflow-y-auto pb-20 relative mobile-content-area"
            id="mobile-screen-content"
        >
            <!-- Content Injected Here -->
            {{{ content }}}
        </div>
    </div>
</div>
